*/* Geral*/{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}


body{ /*Corpo de todo o projeto*/
    background: url("./img/background.png"); /* background url para trocar o fundo da página*/
}

.container { /*Quadro principal do projeto*/
    background-color: #d1d1d1; /* background é o plano de fundo*/
    width: 500px; /* Widht é a largura da div*/
    border-radius: 10px; /* border-radius arredonda a borda da sua div*/
    padding: 20px; /* Padding é o espaçamento interno dos elementos da div*/
    margin: 100px, auto 0; /* Margem utilizada para centralizar elementos da div*/
}

.input-task { /*Iniciando uma tarefa no projeto*/
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 40px;
    padding-left: 10px;
}

.button-add-task { /*Botão para adicionar uma tarefa*/
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffff;
    font-size: 17px;
    padding: 0 15px ;
    float: right; /* Desloca meus itens para a direção desejada*/
    cursor: pointer; /* Cursor coloca uma marca no botão*/
    font-weight: 700;
}

.button-add-task:hover {  /* Inicia um evento em pararelo com as ações da classe*/
        opacity: 0.8;

}

.button-add-task:active {  /* Inicia um evento enquanto o cursor estiver no elemento da classe*/
    opacity: 0.4;

}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px; /* Separa os itens colados para cima*/

}

.task { /*Tarefas do projeto*/
    background-color: #f2f2f2;
    height: 40px;
    background-origin: 1px 4px rbga(0, 0, 0, 0.2);   /*Código que coloca sombra nas bordas*/
    display: flex;  /* Separa os elementos da div*/
    align-items: center; /* Alinha todos os itens  da div*/
    justify-content: space-between; /* Cria um espaço entre os itens  da div*/
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px; /* Separa os itens colados para baixo*/
    cursor: pointer;

}



img { /*Imagens do projeto*/
    height: 25px;  /* Height é o tamanho, nesse caso, tamanho das minhas imagens*/
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Comando para realizar transições suaves ao passar e retirar o cursor do elemento */
}

.task:hover img{
    opacity: 1;
}